.post {
  vertical-align: baseline;
  text-align: justify;
  .post-head {
    padding: 2rem 0rem;
    text-align: center;
  }
  blockquote {
    font-weight: 700;
    text-align: left;
    color: #08193d;
    quotes: "“" "”" "‘" "’";
    & > p {
      border-left: 2px #08193d solid;
      padding-left: 15px;
    }
    & > p::before, & > span::before {
      content: open-quote;
    }
    & > p::after, & > span::after {
      content: close-quote;
    }
  }
  .title {
    text-align: center;
  }
  span.meta {
    color: var(--color__white--muted);
    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
  .markdown {
    border: 1px solid #312006;
    padding: 2em;
    background-color: var(--markdown__background);
    border-radius: 0.5em;
    color: var(--color__text);
    box-shadow: 0px 0px 4px 1px #000000;
  }
  h1,
  h2,
  h3,
  h4 {
    .header-anchor {
      color: $color__text--muted;
      opacity: 0;
      transition: opacity 150ms $transition__normal;

      &:focus {
        opacity: 1;
      }
    }

    &:hover .header-anchor {
      opacity: 1;
    }
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}
