@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;600;900&display=swap');
@mixin font__code {
  font-family: Monaco, Consolas, 'Lucida Console', monospace;
}

@mixin font__body {
  font-family: 'Ubuntu', sans-serif;
}

@mixin font__code {
  font-family: 'Inconsolata', monospace;
}
