@import 'bootstrap/scss/bootstrap';
@import "variables";
@import "typography";
@import "highlight";
@import "post";

body {
  @include font__body;
  font-size: 16px;
  color: $color__white;
  line-height: 1.6;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #08193d;
  background-image: url('../images/Confetti-Doodles.svg');
  background-attachment: fixed;
}
